@font-face {
  font-family: 'bpmnio';
  src: url('../font/bpmnio.eot?96856528');
  src: url('../font/bpmnio.eot?96856528#iefix') format('embedded-opentype'),
       url('../font/bpmnio.woff?96856528') format('woff'),
       url('../font/bpmnio.ttf?96856528') format('truetype'),
       url('../font/bpmnio.svg?96856528#bpmnio') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "bpmnio";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  font-variant: normal;
  text-transform: none;
}